<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.repository.ManhuaDao">
    <resultMap id="Baseresultmap2" type="com.example.mybatis.entity.Manhua">
        <id column="id" property="id"  jdbcType="INTEGER"/>
        <result column="image_manhua" property="image_manhua" jdbcType="VARCHAR"/>
    </resultMap>
<select id="get" resultType="com.example.mybatis.entity.Manhua">
    select `id`,`image_manhua`,`title`,`content` from  manhua where id = #{value}
</select>

    <select id="list" resultType="com.example.mybatis.entity.Manhua">
        select `id`,`image_manhua`,`title`,`content`,`address` from manhua
        <where>
            <if test="id != null   and id != '-1' " > and id = #{id} </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
<!--            <otherwise>-->
<!--                order by id desc-->
<!--            </otherwise>-->
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <delete id="remove">
        delete from manhua where id = #{value}
    </delete>

    <update id="updateAfter" parameterType="java.lang.Integer">
        update manhua
        set id=id-1
        where id>1 and id>#{id,jdbcType=INTEGER}
    </update>

    <insert id="save" parameterType="com.example.mybatis.entity.Manhua" useGeneratedKeys="true" keyProperty="id" >
        insert into manhua
        (
        `image_manhua`,
        `title`,
        `content`,
        `address`
        )
        values
        (
        #{image_manhua},
        #{title},
        #{content},
        #{address}
        )
    </insert>

    <update id="update" parameterType="com.example.mybatis.entity.Manhua">
        update manhua
        <set>
            <if test="image_manhua != null">`image_manhua` = #{image_manhua}, </if>
            <if test="title != null">`title` = #{title}, </if>
            <if test="content != null">`content` = #{content}, </if>
            <if test="address != null">`address` = #{address}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>